@import "tailwindcss";

@theme {
    --color-primary-pink: #FF6BAA;
    --color-gold: #FFD700;
    --color-soft-pink: #FFF0F6;
    --color-chula-black: #111111;

    --font-heading: "Playfair Display", serif;
    --font-body: "Poppins", sans-serif;
}

button{
    cursor: pointer;
}